* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "font1";
    src: url(assets/font/Graphik-Regular-Web.woff2);
}

@font-face {
    font-family: "font2";
    src: url(assets/font/Guardian-EgypTT-Light.woff2);
}

:root {
    --primary: #222;
}

body {
    font-family: "font1";
    width: 100vw;
}

a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px 0px;
    z-index: 200;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}

.logo img {
    width: 60px;
    height: 30px;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.search-box {
    background: rgba(34, 34, 34, 0.05);
    display: flex;
    align-items: center;
    border: 2px solid var(--primary);
    height: 44px;
    border-radius: 50px;
}

.search-box input {
    background-color: transparent;
    padding: 9px 0 9px 12px;
    height: 44px;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    width: 115px;
    border: none;
}

.search-box input::placeholder {
    font-size: 16px;
    font-family: "font1";
}

.search-box svg {
    padding: 10px 12px;
    width: 24px;
    height: 24px;
    border-radius: 0 50px 50px 0;
    fill: var(--primary);
}

.search-box svg:active {
    background-color: var(--primary);
    fill: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 285px;
    padding-top: 69px;
    background: #D7E6F5;
    position: relative;
    margin-bottom: 100px;
}

header h2 {
    padding-top: 6px;
    text-align: center;
    font-family: "font2";
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.35px;
    color: var(--primary);
}

.header-collection {
    display: grid;
    width: 100vw;
    height: 256px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 0;
    justify-content: center;
    row-gap: 20px;
    position: absolute;
    bottom: -58px;
    left: 0;
}

.header-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 18px;
    text-align: center;
    color: var(--primary);
    width: 88px;
    gap: 5px;
}

.header-card:active {
    border-bottom: 2px solid gray;
    color: gray;
}

.header-card img {
    max-width: 86px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(34, 34, 34, 0.15);
}
.main-section-card-conatiner{
    position: relative;
    width: fit-content;
}
.main-section-card-conatiner svg{
    transform: translate3d(0, -1px, 0);
    width: 17px;
    height: 19px;
    fill:var(--primary);
    padding: 3px 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:5px;
    right: 5px;
    /* display:none; */
}

.main-section-card-conatiner svg:hover, .price:hover{
    box-shadow: 0px 2px 4px gray;
}
.main-section-card-conatiner svg:active{
    fill:red;
}
.main-section-card-conatiner img{
    width: 154px;
    height: 153px;
}
.price{
    width: fit-content;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    padding: 1px 7px;
    border-radius: 20px;
    position:absolute;
    bottom: 9px;
    left: 7px;
}
.main-section{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-items:start;
    justify-items: center;
    column-gap: 8px;
    row-gap: 5px;
}


@media screen and (min-width:375px) {
    .search-box input {
        width: 180px;
    }

    .header-card img {
        max-width: 96px;
    }

    .header-card {
        width: 102px;
    }

    .header-collection {
        row-gap: 19px;
    }
}

@media screen and (min-width:425px) {
    header h2 {
        width: 310px;
    }
}

@media screen and (min-width:768px) {
    .logo img {
        width: 85px;
        height: 48px;
    }

    .search-box input {
        width: 550px;
    }

    header h2 {
        width: 650px;
        font-size: 26px;
    }

    header {
        height: 120px;
    }

    .header-collection {
        grid-template-columns: repeat(6, 1fr);
        height: 137px;
        bottom: -73px;
    }

    .header-card {
        width: 90px;
    }

    .header-card img {
        width: 86px;
    }

}

@media screen and (min-width:1024px) {
    .search-box input {
        width: 1055px;
    }

    header h2 {
        font-size: 32px;
        width: 100%;
    }

    .header-card img {
        max-width: 114px;
        width: 114px;
    }

    .header-card {
        width: 150px;
        font-size: 16px;
        gap: 8px;
    }
    
    .header-card:hover >.header-card img{
        max-width: 116px;
        width: 116px;
    }
    .header-card:hover {
        border-bottom: 2px solid gray;
        color: gray;
    }
}