*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#d1c0c0;
    --tertiary:#2b2828;
}
body{
    background-color: var(--primary);
}
@font-face {
    font-family:"bungee.ttf" ;
    src: url(assets/BungeeSpice-Regular.ttf);
}
@font-face {
    font-family:"dangrek.ttf";
    src: url(assets/Dangrek-Regular.ttf);
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
a{
    width: 100%;
    text-decoration: none;
    color: var(--tertiary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:  nowrap;
}
.header{
  font-family: "bungee.ttf";
  /* background-color: black; */
  background-image: linear-gradient(180deg, rgb(0, 0, 0) , var(--primary));
  text-shadow: 2px 2px 2px rgb(0, 255, 13);
  font-size: 50px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}
.footer{
    font-family: sans-serif;
    color: var(--tertiary);
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 20px;
    
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 3px 5px rgb(46, 44, 44);
    position: relative;
}
.project-card:active{
    box-shadow: 1px 2px 5px rgb(46, 44, 44);
   
}

.project-card-title-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
   

}
.project-card-title-container span:nth-child(1){
    font-family:"dangrek.ttf";
    font-size: 15px;
    position: absolute;
    bottom:0;
    color: rgb(61, 47, 28);
    right:50%;

}
.project-card-title-container span:nth-child(2) {
    font-family:"dangrek.ttf";
    font-size: 20px;

}
.project-card-title-container span:nth-child(3){
    font-size: 12px;
    font-weight: 800;
    font-family: sans-serif;
    width: 55px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(238, 238, 132);
    border-radius: 50px;
}
.project-card-img{
    width: 239px;
    border-radius: 6px;
    height: 150px;
}
.project-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.project-info-container div{
   font-size: 15px;
   font-family: sans-serif;
   padding: 4px;
}
.project-info-container div span{
    font-size: 15px;
    font-weight: 400;
}
@media screen and (max-width:1024px){
    .main{
    grid-template-columns: repeat(3,1fr);

    }
}
@media screen and (max-width:768px){
    .main{
    grid-template-columns: repeat(2,1fr);

    }
   
}
@media screen and (max-width:425px){
    .main{
    grid-template-columns: repeat(1,1fr);

    }
}