*{
    padding: 0;
    margin: 0;
}
:root{
    --primary:#312e2e;
    --secondary:#62a762;
    --tertiary:#1d0303;
    --quaternary:#44051d;
    --card-bg:#bebedf;

}
@font-face {
    font-family: "nunito.ttf";
    src: url(assets/NunitoSans-Regular.ttf);
}
@font-face {
    font-family:"montserrat.ttf" ;
    src: url(assets/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family:"Bungee" ;
    src: url(assets/BungeeSpice-Regular.ttf);
}
body{
  font-family: "nunito.ttf";
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height:80vh;
}
.container{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   justify-items:center ;
   row-gap: 10px;
   width: 100%;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--secondary);
    width: 216px;
    gap:20px;
    height: fit-content;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
}
.card-container:hover{
    box-shadow: 2px 2px 5px var(--card-bg);
    transition-duration:1.3s;
}
.card-subContainer{
    display: flex;
    align-items: flex-start;
}
.project-img{
    width: 213px;
    height: 144px;
    border-radius: 10px;
}
h1{
    font-family: "Bungee";
    font-size: 50px;
    width: 100vw;
    text-align: center;
    margin: 20px 0;
}
h2{ 
    font-size: 20px;
    text-align: center;
    width: 246px;
    font-family:"montserrat.ttf";
    color: var(--tertiary);
}

span{
    font-family: "nunito.ttf";
    font-size: 15px;
    font-weight: 600;
    color: var(--quaternary);
}
button{
    border: none;
    background-color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    color: var(--quaternary) ;
    font-family: "nunito.ttf";
    cursor: pointer;
}
button:hover{
    color: #181863;
}
button:active{
  color: #e02f18;
}
@media screen and (max-width:768px)  {
    .container{
      grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:425px)  {
    .container{
      grid-template-columns: repeat(2,1fr);
    }
    .card-container{
        width: 128px;
    }
    .project-img{
        width: 127px;
    }
    h2{
        font-size: 14px;
    }
}