*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "roboto";
    src: url(assets/roboto-regular.woff2);
}
body{
    width: 100vw;
    font-family: "roboto";
    position: relative;
}
a{
    text-decoration: none;
}
header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
}

nav{
    font-size: 16px;
    width: 100vw;
    min-height: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    background-color:#2874f0;
    color: white;
    justify-content: space-around;
}
nav.nav-active{
    transform: translateY(-55px);
    box-shadow: none;
}
.pageLogo img{
    width: 23px;

}
.nav-sub-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 165px;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: none;
    box-shadow: 2px 2px 3px rgb(196, 193, 193);
    transition: .1s ease-in ;
}
.menu a{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
    background-color: white;
    border: 0.5px solid rgb(209, 209, 209);
}
.menu.active{
    transform: translateY(-55px);
}
.menu a img{
    margin-right: 5px;
    height: 24px;
    width: 24px;
}
main{
    padding-top: 106px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advertisement{
    width:100vw;
}
.product-container{
    display:flex;   
    flex-direction: row;
    align-items: center;
}
.product-card-contaier{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgb(216, 214, 214);
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    max-width: 95%;
    position: relative;
    padding-bottom: 15px;
}

.favIcon{
    width: 15px;
    height: 15px;
    padding: 8px;
    background-color: white;
    box-shadow: -1px 1px 6px rgb(204, 203, 203);
    border-radius: 50%;
    position: absolute;
    top:0;
    right: 0;
}
.favIcon img{
    width: 100%;
    height: 100%;
}
.product-detailes{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 12px;
    margin: 10px 0 0 10px;
}
.product-title{
    font-size: 14px;
    line-height: 16px;
    width:72%;
    margin-bottom: 8px;
}
.rating-consumers{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    gap:2px
}
.rating-consumers p{
    color: grey;
    font-size: 12px;
    margin-left: 3px;
}
.rating-consumers img{
  width: 55.02px;
  height: 14.0051px;
}
.rating{
    display: flex;
    align-items: center;
    background-color: #008c00;
    color: white;
    font-size: 12px;
    font-family: none;
    padding: 2px 5px;
    border-radius: 5px;
}
.img-container {
    width:96px;
    height: 120px;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.product-price{
    font-family: none;
}
.delivery,.bankoffer,.exchange div,.emi div{
    font-size: 12px;
    margin-top: 4px;
}
.bankoffer,.exchange div:nth-child(1){
  color: #008c00;
  font-family: none;
}
.exchange span,.emi span{
  font-family: none;
}
.product-spec{
    width: 100%;
    margin-top: 12px;
    font-size: 12px;
    font-family: none;
    color: #878787;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
}
.product-spec div:nth-child(1){
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #e2e0e0;
}
.product-display {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap:6px;
}
.product-display div{
 padding: 4px;
 border-radius: 2px;
 border: 1px solid #e2e0e0;
}
.sorting-container{
    display: flex;
    flex-direction: column;
    background:rgb(245, 245, 235);
    width: 100vw;
    position: absolute;
    transform: translateY(183px);
    transition: transform s ease-in-out;
    bottom: 0;
}
.sorting-container.sorting-container-active{
    transform: translateY(0);
}
.sorting-container h2{
    text-transform: uppercase;
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-bottom:1px solid #d4d1d1;
}
.options-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.options-container div{
    width: 293px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: none;
    font-size: 14px;
    padding: 10px;

}
.sortingWindow{
    display: none;
    position:fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000086;
    transition: all .5s ease-in-out;
}
.sortingWindow.sorting-active{
    display: block;
}
